@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #1c0d30;
  color: #f3f4f6;
}

@layer components {
  .menu-item {
    @apply relative before:absolute before:w-0 before:content-[''] before:h-[3px] 
    before:bg-gradient-to-r before:from-teal-400 before:via-blue-500 before:to-indigo-600
    before:rounded-full before:-bottom-1 before:left-0 before:transition-all 
    before:duration-300 hover:before:w-full cursor-pointer;
  }
}
